body {
	padding: 0;
	margin: 0;
	background: #d6d6d6;
	font-family: 'KoHo', sans-serif;
}
header {
    background: #8c5aa0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5pt;
    font-family: 'KoHo', sans-serif;
}

#landText{
color: #1f273a;
    background: none;
    font-size: 36pt;
    margin-bottom: 5%;
}

#landing{
display: flex;
flex-direction: column;
align-items: center;
}

div#landBlock {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5%;
}

div#landFirst {
    border-radius: 40px;
    width: 400px;
    height: 400px;
    background: url(/img/bgLand.jpg);
}

div#landSecond {
    border-radius: 40px;
    width: 400px;
    height: 400px;
    background: #1e2537;
    color: #cecece;
    font-size: 21pt;
}

button#beginUse {
    width: 250px;
    height: 70px;
    font-size: 23pt;
    border-radius: 17px;
    background: #1e2537;
    font-weight: 800;
    color: #a7a7a7;
}

.message {
    width: 300pt;
    padding: 5pt;
    border: 1px solid white;
    color: white;
    text-align: center;
    font-family: 'KoHo', sans-serif;
}

#logoDiv {
display: flex;
    align-items: center;
    text-decoration: underline;
    font-size: 20pt;
    font-weight: bold;
    float: left;
    font-family: 'KoHo', sans-serif;
    margin-right: 2%;
}

#logoDiv a{
	text-decoration: none;
	outline: none;
	color: white;
	cursor: pointer;
	font-family: 'KoHo', sans-serif;
}

#logoDiv img {
    width: 14%;
}

.aLogo:hover {
	color: #9c9c9c;
}

#headerButtonsDiv a {
    margin-bottom: 3%;
}

#headerButtonsDiv {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.link {
	text-decoration: none;
	outline: none;
	color: grey;
	font: 12pt sans-serif;
	font-family: 'KoHo', sans-serif;
}

.greenButton, .loginButton {
cursor: pointer;
    font: 12pt sans-serif;
    background: #8c5aa0;
    border: 5px solid #64287b;
    border-radius: 11px;
    font-weight: 800;
    color: #ffffff;
    padding: 4pt 8pt;
    font-family: 'KoHo', sans-serif;
}

.greenButton:hover, .loginButton:hover {
outline: none;
    background: #64287b;
    border: 5px solid white;
    color: #ffffff;
}


.textInput, .valueInput {
	font: 12pt sans-serif;
	background: #F8F8F8;
	border: 0;
	border-bottom:1px solid black;
	padding: 4pt 8pt;
	font-family: 'KoHo', sans-serif;
}

.valueInput {
}

.textInput:hover {
	outline: none;
	background: #e6e6e6;
}

.textInput:focus {
	outline: none;
	background: #e6e6e6;
}

#content, #testContent, #searchContent {
background: #522465;
    margin: 100pt auto;
    font-family: 'KoHo', sans-serif;
    width: 30%;
    display: flex;
}

#searchContent {
	margin:10pt auto;
	font-family: 'KoHo', sans-serif;
}

#testContent {
	max-width: 400pt;
	font-family: 'KoHo', sans-serif;
}

h1 {
    color: white;
    margin: 0;
    font: 20pt sans-serif;
    text-align: center;
    padding: 10pt;
    font-family: 'KoHo', sans-serif;
}

h2, h3 {
	color: white;
	padding: 5pt;
	font: 12pt sans-serif;
	text-align: center; 
	border-bottom: 1px solid grey;
	font-family: 'KoHo', sans-serif;
}

h3 {
	font: 10pt sans-serif;
	font-family: 'KoHo', sans-serif;
}

summary {
	cursor: pointer;
	padding: 5pt;
	border-bottom: 1px dotted grey;
}

textarea {
	min-width: 290pt;
	max-width: 290pt;
	width: 290pt;
	font-family: 'KoHo', sans-serif;
}
#formDiv, #testFormDiv {
    font: 12pt sans-serif;
    background: #8c5aa0;
    color: white;
    margin: 0 auto;
    padding: 10pt;
    font-family: 'KoHo', sans-serif;
}

.contentRow {
	display: inline-flex;
}

.contentCell {
	background: #585858;
	margin: 5pt;
	padding: 5pt;
}

.testDiv a {
    color: white;
    text-decoration: none;
}

#testFormDiv {
	max-width: 400pt;
}

.formField {
	margin: 0 auto;
	padding: 5pt;
	text-align: right;
}

.severityDiv {
	border: 1px solid lightgrey;
}

label {
	margin-right: 20pt;
	font: 11pt sans-serif;
    color: white;
    font-family: 'KoHo', sans-serif;
}

select {
	width: 143pt;
}

.leftLabel {
	margin-left: 20pt;
	float: left;
}

.rightLabel {
	color: white;
}

.profileTestDiv {
	background: #F8F8F8;
	padding: 5pt;	
	margin: 5pt;
	font: 11pt sans-serif;
	font-family: 'KoHo', sans-serif;
}

.paddingClass {
	margin: 5pt;
	display: inline-flex;
}

.profileTestActionsDiv {
	float: right;
}

#testsDiv {
    display: flex;
	margin: 10pt auto;
	max-width: 820pt;
}

.testDiv {
cursor: pointer;
    font: 20pt sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #1e2537;
    width: 200pt;
    height: 200pt;
    margin: 20pt;
    border-radius: 25px;
    font-family: 'KoHo', sans-serif;
}

.testDiv:hover {
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

.testDivImage {
	display: table-cell;
	padding: 10pt;
}

.testDivName {

}

.testDivDescription {
	color: grey;
	font: 10pt sans-serif;
}
.testDivDate {
	text-align: center;
	color: grey;
	font: 8pt sans-serif;
}

.testDivCell {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.questionDiv {
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
	font: 11pt sans-serif;
	background: white;
	max-width: 350pt;
	margin: 20pt auto;
	font-family: 'KoHo', sans-serif;
}

.questionDescriptionDiv {
	padding: 10pt;
}

.questionAnswerDiv {
	padding: 10pt;
}
